h1, h3 {
  text-align: center;
  margin-bottom: 30px;
}

.main-section {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.side-menu {
  width: 180px;
  border: 1px solid #ccc;
  height: 238px;
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu li {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.side-menu li.active {
  background-color: #fbb;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
}
